@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: aliceblue;
    text-align: center;
    min-height: 100vh;
}
.wrapper{
    width: 1170px;
    margin:0 auto;
}
header{
    height: 100px;
    background: #262626;
    width:100%;
    z-index: 12;
    position: fixed;
}
.logo{
    width:27%;
    float:left;
    height: 70px;
    margin-top: 8px;
    margin-left: 40px;
   
}

nav{
    float:right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
    padding-right: 20px;
}
nav a:hover{
    color: green;
    font-size: larger;
}

.banner-area{
    width: 100%;
    background-size: cover;
    background-position: center center;
    
  
}

.banner-area h2{
    padding-top: 10%;
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
    background-color:rgb(228, 238, 238) ;
    color: rgb(0, 2, 0);
    letter-spacing: 2px;

}

#slider{
    overflow:hidden;
    background-size: cover;
}

#slider figure {
    position: relative;
    flex: wrap;
    width:500%;
    margin:0;
    left:0;
    animation: 15s slider infinite;
    margin-bottom: 70%;
}

#slider figure img {
    width : 20%;
    float: left;
}

@keyframes slider {
    10% {
        left: 0%;
    }
    20% {
        left: -100%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -200%;
    }   
    50% {
        left: -200%; 
    } 
    60% {
        left: -300%;
    }
    70% {
        left: -300%;
    } 
    80%{
        left: -400%;
    }
    100% {
        left: -400%;
    }
}

.wrapper span{
    color: rgb(24, 226, 34);
}


.wrapper{
    width: 100%;
    position: relative;
}
.wrapper h2{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    margin:0;
}
.wrapper p{
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px
}

.content1{
    width: 100%;
    
}
#img{
    width: 30%;
    height: 80%;
    justify-content: space-around;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
}
#pgh{
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
}
#pgh li{
    list-style: none;
}

#pgh li a{
    
    text-decoration-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    color: blue;
}

.star{
    padding: 10px 0;
}
.star i{
    font-size: 0.8rem;
    color: darkgoldenrod;
}

footer{
    position: relative;
    width:100%;
    background-color:#3586ff;
    min-height: 100px;
    margin-top: px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 110px;
}

footer .social_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li, footer .menu li{
    list-style: none;
}

footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    
}

footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .wave{
    position: absolute;
    top: -100px;
    left:0;
    width:100%;
    height: 100px;
    background: url(/image/hero_image/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave 4s linear infinite; 
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite; 
}

footer .wave#wave3{
    z-index: 999;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite; 
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite; 
}
@keyframes animateWave {
    0%{
        background-position-x:1000px;

    }
    100%{
        background-position-x: 0px;
    }
    
}

@keyframes animateWave_02 {
    0%{
        background-position-x:0px;

    }
    100%{
        background-position-x: 1000px;
    }
}